<div class="meals">
  <div class="meals__title">
    <h1>
      <img src="/assets/images/food.svg" alt="food">
      Your meals
    </h1>
    <a
      class="btn__add"
      [routerLink]="['../meals/new']">
      <img src="/assets/images/add-white.svg" alt="add-white">
      New meal
    </a>
  </div>
  <div *ngIf="meals$ | async as meals; else loading;">
    <div class="message" *ngIf="!meals.length">
      <img src="/assets/images/face.svg" alt="face">
      No meals, add a new meal to start
    </div>
    <app-list-item
      *ngFor="let meal of meals"
      [item]="meal"
      (remove)="removeMeal($event)">
    </app-list-item>
  </div>
  <ng-template #loading>
    <div class="message">
      <img src="/assets/images/loading.svg" alt="loading">
      Fetching meals...
    </div>
  </ng-template>
</div>
